<template id="generateur">
    <style scoped>
        div {
            color: blue;
        }
    </style>
    <button id="bouton">Générer le scénario sans shadow dom</button>
    <div id="resultat">&nbsp;</div>
</template>
<script>
    (function() {
        var myDoc = document.currentScript.ownerDocument;
        var proto = Object.create(HTMLElement.prototype, {
            createdCallback: {
                value: function() {
                    var template = myDoc.querySelector('#generateur');
                    var clone = document.importNode(template.content, true);
                    clone.getElementById('bouton').addEventListener('click', function() {
                        document.getElementById('resultat').innerText = tirerSynopsis();
                    }, false);
                    this.appendChild(clone);
                }
            }
        });
        document.registerElement('synopsis-generateur-sans', {
            prototype: proto
        });
    })();
</script>