<div class="col-xs-12 col-sm-12 col-md-6 col-md-6">
    <div class="tab">
        <button class="tablinks" data-ng-class="{'active': codeCtrl.activeTab === 'HTML'}"
                data-ng-click="codeCtrl.activeTab = 'HTML'">HTML
        </button>
        <button class="tablinks" data-ng-class="{'active': codeCtrl.activeTab === 'CSS'}"
                data-ng-click="codeCtrl.activeTab = 'CSS'">CSS
        </button>
        <button class="tablinks" data-ng-class="{'active': codeCtrl.activeTab === 'JS'}"
                data-ng-click="codeCtrl.activeTab = 'JS'">JS
        </button>
    </div>

    <div data-ng-show="codeCtrl.activeTab === 'HTML'" class="tabcontent">
<pre class="line-numbers" data-start=0>
<code class="language-html">
&lt;div class="container">
&lt;button type="button" class="btn btn-secondary" onclick="switchMode()">Switch mode&lt;/button>
&lt;h2>Folders (&lt;span id="mka-count-folders">0&lt;/span>)</h2>
    &lt;div class="row folders-container">
&lt;div class="col-xs-6 col-sm-4 col-lg-3">
&lt;div class="folder">
&lt;div class="thumbnail">
&lt;div class="caption">
&lt;h3>Folder&lt;/h3>
&lt;/div>
&lt;/div>
&lt;/div>
&lt;/div>
&lt;/div>

&lt;h2>Items (&lt;span id="mka-count-items">0&lt;/span>)&lt;/h2>
&lt;ul id="itemsList" class="list-group">
&lt;li class="list-group-item" item-id="1">
&lt;div class="card">
&lt;div class="card-block">
&lt;h4 class="card-title">Item 1</h4>
    &lt;/div>
&lt;/div>
&lt;/li>
&lt;/ul>
&lt;/div>
&lt;!-- Link your mka.min.js -->
&lt;script src="../dist/mka.min.js">&lt;/script>
</code>
</pre>
    </div>

    <div data-ng-show="codeCtrl.activeTab === 'CSS'" class="tabcontent">
<pre class="line-numbers" data-start=0>
<code class="language-css">
#itemsList {
padding: 50px;
background-color: #f8f8f8;
border: 1px solid #ededed;
}

#itemsList.grid {
column-count: 4;
column-gap: 1em;
}

#itemsList.grid li.list-group-item {
display: inline-block;
margin: 0 0 1em;
width: 100%;
height: 120px;
}

.folder {
text-align: center;
}

.mka-elt-selecting, .mka-elt-selecting .thumbnail {
background-color: #D1EEFF;
}

.mka-elt-selected, .mka-elt-selected .thumbnail {
background-color: #bebebe;
}

.on-drag {
background-color: #cbcbcb !important;
opacity: 0.7;
}

.folders-container {
background-color: #efefef;
border: 1px solid #afafaf;
padding: 15px 0;
}

#wrapper-drag {
position: relative;
}

.drag-class-sample {
/* Sample class for onDragItemClass*/
color: white;
background: #403A3E;
background: -webkit-linear-gradient(to right, #BE5869, #403A3E);
background: linear-gradient(to right, #BE5869, #403A3E);
border: 1px solid #403A3E;
padding: 5px;
text-align: center;
width: 250px;
}

.drag-class-sample span {
/* Sample class for onDragItemClass span */
color: white;
background: #cc2b5e;
background: -webkit-linear-gradient(to right, #753a88, #cc2b5e);
background: linear-gradient(to right, #753a88, #cc2b5e);

}
</code>
</pre>
    </div>
    <div data-ng-show="codeCtrl.activeTab === 'JS'" class="tabcontent">
<pre class="line-numbers" data-start=0>
<code class="language-javascript">
document.getElementById('itemsList').mkaInit({
"eltsSelectable": "li",
"lasso": false,
"selectAllShortcut": false,
"copyPaste": false,
"count": "mka-count-items",
});

document.getElementsByClassName('folders-container').item(0).mkaInit({
"eltsSelectable": ".folder",
"lasso": false,
"selectAllShortcut": false,
"copyPaste": false,
"count": "mka-count-folders",
});
</code>
</pre>
    </div>
</div>
