<div id="select" class="container-fluid">
    <div data-ng-controller="selectCtrl as itemsAndFoldersCtrl" ng-include src="'views/itemsAndFolders.html'"></div>
    <div data-ng-controller="selectCodeCtrl as codeCtrl" ng-include src="'views/code.html'"></div>
    <!--<div data-ng-controller="selectCodeCtrl as codeCtrl" ng-include src="'views/select/selectCode.html'"></div>-->
</div>

<div id="selectAll" class="container-fluid">
    <div data-ng-controller="selectAllCtrl as itemsAndFoldersCtrl" ng-include src="'views/itemsAndFolders.html'"></div>
    <div data-ng-controller="selectAllCodeCtrl as codeCtrl" ng-include src="'views/code.html'"></div>
</div>
