.container {
    max-width: 100%;
}

#itemsList {
    padding: 20px;
    background-color: #f8f8f8;
    border: 1px solid #ededed;
}

#itemsList.grid {
    column-count: 4;
    column-gap: 1em;
}

#itemsList.grid li.list-group-item {
    display: inline-block;
    margin: 0 0 1em;
    width: 100%;
}

.folder {
    text-align: center;
}

.mka-elt-selecting, .mka-elt-selecting .thumbnail {
    background-color: #D1EEFF;
}

.mka-elt-selected, .mka-elt-selected .thumbnail {
    background-color: #bebebe;
}

.on-drag {
    background-color: #cbcbcb !important;
    opacity: 0.7;
}

.folders-container {
    background-color: #efefef;
    border: 1px solid #afafaf;
    padding: 15px 0;
}

#wrapper-drag {
    position: relative;
}

.drag-class-sample {
    /* Sample class for onDragItemClass*/
    color: white;
    background: #403A3E;
    background: -webkit-linear-gradient(to right, #BE5869, #403A3E);
    background: linear-gradient(to right, #BE5869, #403A3E);
    border: 1px solid #403A3E;
    padding: 5px;
    text-align: center;
    width: 250px;
}

.drag-class-sample span {
    /* Sample class for onDragItemClass span */
    color: white;
    background: #cc2b5e;
    background: -webkit-linear-gradient(to right, #753a88, #cc2b5e);
    background: linear-gradient(to right, #753a88, #cc2b5e);

}
