.ui-contextmenu{
  background-color: #fff;
  color: #222;
  max-width:250px;
  min-width:100px;
  border: 1px solid #aaaaaa;
  box-shadow: none;
  padding: 0;
  outline: none;

  .ui-menu-item {
    font-size: 12px;
    display: block;

    .ui-menu-item-wrapper{
      padding: 5px;

      &.ui-state-active{
        cursor: pointer;
        background-color: #dadada;
      }
    }
  }
}
.ui-menu-divider{
  border: solid #aaaaaa;
  margin: 5px 0;
  height: 0;
  font-size: 0;
  line-height: 0;
  width: 100%;
  border-width: 1px 0 0 0;
}