#main ul li {
    height: 150px;
    width: 150px;
    border: 1px solid black;
}

.hide {
    display: none;
}

#rmenu {
    border: 1px solid black;
    background-color: white;
}

#rmenu ul {
    padding: 0;
    list-style: none;
}
#rmenu li
{
    list-style: none;
    padding-left: 5px;
    padding-right: 5px;
}
